<div class = "create-user">
  
  <div class="create-card">

    <h2>Fill the Kyc info</h2>
    <div 
      class="drop-zone"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      (click)="fileInput.click()"
    >

      @if (!previewUrl) {
        <p>Drag & Drop Profile Image or Click</p>
      }

      @if (previewUrl) {
        <img [src]="previewUrl" class="preview-img"/>
      }

      <input 
        type="file" 
        #fileInput 
        hidden 
        (change)="onFileSelect($event)" 
        accept="image/*"
      />
    </div>

    <form [formGroup]="userForm" (ngSubmit) = "validateUser()">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Adhaar number</mat-label>
        <input matInput formControlName="adhaarNumber">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pan Number</mat-label>
        <input matInput formControlName="panNumber">
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>

    </form>
      @if (showOtpInput()) {
        <hr class="otp-divider" />
        <div class="otp-section">
          <mat-form-field appearance="outline">
            <mat-label>Enter OTP</mat-label>
            <input matInput [(ngModel)]="otpValue" />
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="verifyOtp()">
            Verify OTP
          </button>
        </div>
      }
  </div>
</div>