
<div class="d-flex align-items-center gap-2 ms-auto">


@if (authService.isAuthenticated()) {
<div class="nav-actions">
  <button mat-button class="nav-btn" [routerLink]="['home/wallet-profile']" >
      <mat-icon>account_balance_wallet</mat-icon>
    <span>My Wallet</span>
  </button>

  <button mat-button class="nav-btn" [routerLink]="['/home/transfer']" >
      <mat-icon>payment</mat-icon>
    <span>Pay</span>
  </button>

  <!-- PROFILE BUTTON -->
  <button mat-icon-button  class="profile-btn" [matMenuTriggerFor]="profileMenu">

  <img
    class="avatar"
    [src]="userService.currentUser()?.profileImgUrl || 'assets/default-avatar.png'"
  />

  </button>
</div>
<!-- DROPDOWN MENU -->
<mat-menu #profileMenu="matMenu" class="profile-menu">

  <!-- PROFILE PREVIEW -->
  <div class="menu-profile">

    @if(userService.currentUser()?.profileImgUrl){
    <div class="avatar-wrapper">
      <img
        class="avatar-large"
        [src]="userService.currentUser()?.profileImgUrl"
      />
    </div>
    }
    @if(!userService.currentUser()?.profileImgUrl){
    <mat-card-header>
      <mat-icon mat-card-avatar>person</mat-icon>
      <mat-card-title>My Profile</mat-card-title>
    </mat-card-header>
    }
    
    <div>
      <div class="menu-username"  [routerLink]="['/home/user-profile']">
        {{ userService.currentUser()?.name }}
      </div>

      <div class="menu-view"  [routerLink]="['/home/user-profile']" 
>
        View profile
      </div>
    </div>

  </div>

  <mat-divider></mat-divider>


  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    Settings
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="authService.logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>

</mat-menu>

}

</div>
